<?xml version="1.0" encoding="UTF-8"?>
<ServicePlugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="DataService.xsd">

	<!-- 订单交易 -->
	<ServiceConfig Name="OrderTradeService">
		<DataService Resource="trans/pay/OrderTradeService.xml" Encoding="utf-8" />
	</ServiceConfig>
	
	<!-- 三方交易通知服务 -->
	<ServiceConfig Name="OrderTradeNotifyService">
		<DataService Resource="trans/pay/OrderTradeNotifyService.xml" Encoding="utf-8" />
	</ServiceConfig>	
	
	<ServiceConfig Name="ProcessTradeService">
		<DataService Resource="trans/pay/ProcessTradeService.xml" Encoding="utf-8" />
	</ServiceConfig>		
	
	<!-- 账户资金 -->
	<ServiceConfig Name="AccountFundService">
		<DataService Resource="trans/pay/AccountFundService.xml" Encoding="utf-8" />
	</ServiceConfig>		
	
	<!-- 账户资金明细 -->
	<ServiceConfig Name="AccountFundDetailService">
		<DataService Resource="trans/pay/AccountFundDetailService.xml" Encoding="utf-8" />
	</ServiceConfig>		
	
	<!-- 账户资金转化 -->
	<ServiceConfig Name="FundConvertService">
		<DataService Resource="trans/pay/FundConvertService.xml" Encoding="utf-8" />
	</ServiceConfig>		
	
	<!-- 账户资金划拨 -->
	<ServiceConfig Name="FundTransferService">
		<DataService Resource="trans/pay/FundTransferService.xml" Encoding="utf-8" />
	</ServiceConfig>			
	
	<!-- 账户资金退款 -->
	<ServiceConfig Name="FundRefundService">
		<DataService Resource="trans/pay/FundRefundService.xml" Encoding="utf-8" />
	</ServiceConfig>			
	
	<!-- 账户账单 -->
	<ServiceConfig Name="AccountBillService">
		<DataService Resource="trans/pay/AccountBillService.xml" Encoding="utf-8" />
	</ServiceConfig>			
</ServicePlugin>
