#if($swfuInstanceCount==1||!$swfuInstanceCount)
	#set ($filedomain = "$utilityController.getFileServerUrl()")
	<script type="text/javascript">
 		var filedomain="$filedomain";
	 	function setInitData(data,swfInstanceIndex){
	 		if(data=="")return;
			var jsonData = eval(data);
			var tb = document.getElementById("idFileList"+swfInstanceIndex);
			for(var i=0;i<jsonData.length;i++){
				var json=jsonData[i];
				var tr = tb.insertRow(-1);
				var trId="uploadedFile"+i;
				tr.setAttribute("id",trId);
				tr.className='uploadTR';
				var td = tr.insertCell(-1);td.className='uploadTD';
				td.innerHTML="<a href=\"${filedomain}download.dld?url=${filedomain}"+json.strFilePath+"\">"+json.strFileName+"</a>";
				
				//td = tr.insertCell(-1);td.className='uploadTD';
				 //td.innerHTML="0B";
				 
				td = tr.insertCell(-1);td.className='uploadTD';
				td.innerHTML="上传完成";
				td = tr.insertCell(-1);td.className='uploadTD';
				td.innerHTML="<span id=uploadedFile"+i+"_del class=uploadCancel onclick=deleTableRow('uploadedFile"+i+"','"+swfInstanceIndex+"','"+json.lId+"')>删除</span>";
				 	 
			}
			SWFUpload.instances["SWFUpload_"+(swfInstanceIndex-1)].settings.uploadedFile=jsonData.length;
			
		}
		function deleTableRow(trId,swfInstanceIndex,lId){
				var tb = document.getElementById("idFileList"+swfInstanceIndex);
					var tr = document.getElementById(trId);
					var tb =tr.parentNode;
					tb.deleteRow(tr.rowIndex);
					if("undefined" != typeof SWFUpload.instances["SWFUpload_"+(swfInstanceIndex-1)].settings.l_deleTableUploadRowAfter){
						SWFUpload.instances["SWFUpload_"+(swfInstanceIndex-1)].settings.l_deleTableUploadRowAfter(lId);
					}
					if(SWFUpload.instances["SWFUpload_"+(swfInstanceIndex-1)].settings.original_file_upload_limit!=0){
						var temp_file_upload_limit=SWFUpload.instances["SWFUpload_"+(swfInstanceIndex-1)].settings.file_upload_limit;
						SWFUpload.instances["SWFUpload_"+(swfInstanceIndex-1)].setFileUploadLimit(1+temp_file_upload_limit);
					}
					
		}
 	</script>
	<link href="$filedomain/multifileupload/css/default.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="$filedomain/multifileupload/js/HashMap.js"></script>
	<script type="text/javascript" src="$filedomain/multifileupload/js/ajax.js"></script>
	
	<script type="text/javascript" src="$filedomain/multifileupload/js/swfupload.js"></script>
	<script type="text/javascript" src="$filedomain/multifileupload/js/swfupload.swfobject.js"></script>
	<script type="text/javascript" src="$filedomain/multifileupload/js/swfupload.queue.js"></script>
	<script type="text/javascript" src="$filedomain/multifileupload/js/fileprogress.js"></script>
	<script type="text/javascript" src="$filedomain/multifileupload/js/handlers.js"></script>
#end

<script type="text/javascript">
var _swfu$!swfuInstanceCount;
	var loadUpload$!swfuInstanceCount = function() {
			_swfu$!swfuInstanceCount= new SWFUpload({
									flash_url : filedomain+"/multifileupload/js/swfupload.swf",
									upload_url: filedomain+"$servletUrl",
									file_size_limit : "$perMaxSize",
									file_types : "$ext",
									file_types_description : "$ext",
									file_upload_limit : $file_upload_limit,
									file_queue_limit : 0,
									custom_settings : {
										progressTarget : "fsUploadProgress$!swfuInstanceCount",
										cancelButtonId : "btnCancel$!swfuInstanceCount",
										uploadButtonId : "btnUpload$!swfuInstanceCount",
										myFileListTarget : "idFileList$!swfuInstanceCount"
									},
									debug: false,
									auto_upload:true,
							
									// Button Settings
									button_image_url : filedomain+"/multifileupload/images/XPButtonUploadText_61x22.png",	// Relative to the SWF file
									button_placeholder_id : "spanButtonPlaceholder$!swfuInstanceCount",
									button_width: 62,
									button_height: 22,
							
									// The event handler functions are defined in handlers.js
									swfupload_loaded_handler : swfUploadLoaded,
									file_queued_handler : fileQueued,
									file_queue_error_handler : fileQueueError,
									file_dialog_complete_handler : fileDialogComplete,
									upload_start_handler : uploadStart,
									upload_progress_handler : uploadProgress,
									upload_error_handler : uploadError,
									upload_success_handler : uploadSuccess,
									upload_complete_handler : uploadComplete,
									queue_complete_handler : queueComplete,	// Queue plugin event
									
									// SWFObject settings
									minimum_flash_version : "9.0.28",
									swfupload_pre_load_handler : swfUploadPreLoad,
									swfupload_load_failed_handler : swfUploadLoadFailed,
									fileInfoMap:new HashMap(),
									l_uploadSucesssAfter:"undefined" != typeof l_uploadSucesssAfter$!swfuInstanceCount?l_uploadSucesssAfter$!swfuInstanceCount:undefined,
									l_deleteSucesssAfter:"undefined" != typeof l_deleteSucesssAfter$!swfuInstanceCount?l_deleteSucesssAfter$!swfuInstanceCount:undefined,
									l_deleTableUploadRowAfter:"undefined" != typeof l_deleTableUploadRowAfter$!swfuInstanceCount?l_deleTableUploadRowAfter$!swfuInstanceCount:undefined
									 
			});
		

	
		
		
	}
</script>
 
<div id="content">
	    <div style="margin:0 0 10px 0;">
		<span id="spanButtonPlaceholder$!swfuInstanceCount"></span>
		<input id="btnUpload$!swfuInstanceCount" type="button"  style="display: none;" />
		<input id="btnCancel$!swfuInstanceCount" type="button"  style="display: none;" />
		</div>
		<table id="idFileList$!swfuInstanceCount" class="uploadFileList"><tr class="uploadTitle"><td><B>文件名</B></td><!-- td><B>文件大小</B></td --><td width=100px><B>状态</B></td><td width=35px>&nbsp;</td></tr></table>
		<span id="idFileList$!{swfuInstanceCount}Count" style="display:none;">0</span><span id="idFileList$!{swfuInstanceCountSuccessUpload}Count" style="display: none;">0</span>
		<div id="divSWFUploadUI$!swfuInstanceCount" style="display:none;"></div>
		<noscript style="display: block; margin:10px 0; color:#f00;">
			很抱歉，上传界面无法载入，请将浏览器设置成支持JavaScript。
		</noscript>
		<div id="divLoadingContent" class="content" style="background-color: #FFFF66; border-top: solid 4px #FF9966; border-bottom: solid 4px #FF9966; margin: 10px 25px; padding: 10px 15px; display: none;">
			上传界面正在载入，请稍后...
		</div>
		<div id="divLongLoading" class="content" style="background-color: #FFFF66; border-top: solid 4px #FF9966; border-bottom: solid 4px #FF9966; margin: 10px 25px; padding: 10px 15px; display: none;">
			上传界面载入失败，请确保浏览器已经开启对JavaScript的支持，并且已经安装可以工作的Flash插件版本。
		</div>
		<div id="divAlternateContent" class="content" style="background-color: #FFFF66; border-top: solid 4px #FF9966; border-bottom: solid 4px #FF9966; margin: 10px 25px; padding: 10px 15px; display: none;">
			很抱歉，上传界面无法载入，请安装或者升级您的Flash插件。
			请访问： <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">Adobe网站</a> 获取最新的Flash插件。
		</div>
	 
</div>
