<!DOCTYPE html>
<html lang="en">
<head>
<title>新增行业信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme"
	href="/static/joli/css/theme-default.css" />
</head>
<body>
	<div>
		<ul class="breadcrumb">
			<li><a href="/admin/index">管理中心首页</a></li>
			<li><a href="index">数据字典</a></li>
			<li class="active">新增数据字典</li>
		</ul>
		<div class="page-content">
			<div class="page-content-wrap">
				<form id="form" class="form-horizontal" action="save" method="post">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>新增数据字典</strong>
								</h3>
							</div>
							
							
							<div class="panel-body">
								<div class="row">
									<div class="col-md-1">
										<div class="form-group">
											<div class="col-md-12 col-xs-8">
												<input type="text" placeholder="字典名称" class="form-control" name="dictName" value=""/>
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<div class="col-md-12 col-xs-8">
												<input type="text" placeholder="字典编码" class="form-control" name="dictCode" value=""/>
											</div>
										</div>
									</div>
								</div>
								<div class="row" id="dataRow" style="margin-top: 10px;border-top: 1px solid #dedede;padding-top: 10px;">
									<div class="col-md-1">
										<div class="form-group">
											<div class="col-md-12 col-xs-8">
												<input type="text" placeholder="实际值" class="form-control" name="dictKey" value=""/>
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<div class="col-md-12 col-xs-8">
												<input type="text" placeholder="显示值" class="form-control" name="dictValue" value=""/>
											</div>
										</div>
									</div>		
									<div class="col-md-2">
										<div class="form-group">
											<div class="col-md-12 col-xs-8">
												<input type="text" placeholder="字典描述" class="form-control" name="dictDesc" value=""/>
											</div>
										</div>
									</div>																	
									<div class="col-md-1">
										<div class="form-group">
											<div class="col-md-12 col-xs-12">
												<div class="input-group">
													<button class="btn btn-success btn-rounded" id="addRows" type="button">增加行</button>
												</div>
											</div>
										</div>
									</div>									
								</div>
							</div>
							<div class="panel-footer">
								<button class="btn btn-primary" type="submit">保存</button>
							</div>							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript" src="/static/joli/js/plugins/jquery/jquery.min.js"></script>


<script type="text/javascript">
	var dataRow="dataRow";
	var rowStyle='style="margin-top:3px"';
	$(function(){
		$("#addRows").click(function(){
			var uuids=uuid();
			var str='<div class="row" id="'+uuids+'" '+rowStyle+'><div class="col-md-1"><div class="form-group"><div class="col-md-12 col-xs-8"><input type="text" placeholder="实际值" class="form-control" name="dictKey" value=""/></div></div></div><div class="col-md-1"><div class="form-group"><div class="col-md-12 col-xs-8"><input type="text" placeholder="显示值" class="form-control" name="dictValue" value=""/></div></div></div><div class="col-md-2"><div class="form-group"><div class="col-md-12 col-xs-8"><input type="text" placeholder="字典描述" class="form-control" name="dictDesc" value=""/></div></div></div>	<div class="col-md-1"><div class="form-group"><div class="col-md-12 col-xs-12"><div class="input-group"><button class="btn btn-success btn-rounded" onclick="removeRows(\''+uuids+'\')" type="button">删除行</button></div></div></div></div></div>';
			$("#"+dataRow).after(str);
			dataRow=uuids;
		});
	})
	
	function removeRows(uuids){
		$("#"+uuids).remove();
		if(dataRow==uuids){
			dataRow="dataRow";
		}
	}
	
	function uuid() {
	    var s = [];
	    var hexDigits = "0123456789abcdef";
	    for (var i = 0; i < 36; i++) {
	        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
	    }
	    s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
	    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
	    s[8] = s[13] = s[18] = s[23] = "-";
	 
	    var uuid = s.join("");
	    return uuid;
	}
</script>

