<?xml version="1.0" encoding="UTF-8"?>
<ServicePlugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="/com/gavin/plugin/xsd/ServiceBus.xsd">
	<ServiceConfig Name="MenuService">
		<DataService Resource="trans/system/MenuService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="ActionService">
		<DataService Resource="trans/system/ActionService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="RoleService">
		<DataService Resource="trans/system/RoleService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="RoleActionService">
		<DataService Resource="trans/system/RoleActionService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="EmployeeService">
		<DataService Resource="trans/system/EmployeeService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="AdminsService">
		<DataService Resource="trans/system/AdminsService.xml" Encoding="utf-8"/>
	</ServiceConfig>	
	
	<ServiceConfig Name="DeptService">
		<DataService Resource="trans/system/DeptService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="DictionaryService">
		<DataService Resource="trans/system/DictionaryService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="UserRoleService">
		<DataService Resource="trans/system/UserRoleService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	<ServiceConfig Name="AreaService">
		<DataService Resource="trans/system/AreaService.xml" Encoding="utf-8"/>
	</ServiceConfig>	
	<ServiceConfig Name="SystemUsersService">
		<DataService Resource="trans/system/UsersService.xml" Encoding="utf-8"/>
	</ServiceConfig>	
	<ServiceConfig Name="UpgradeService">
		<DataService Resource="trans/system/UpgradeService.xml" Encoding="utf-8"/>
	</ServiceConfig>	
	<ServiceConfig Name="BannerService">
		<DataService Resource="trans/system/BannerService.xml" Encoding="utf-8"/>
	</ServiceConfig>	
</ServicePlugin>
