<?xml version="1.0" encoding="UTF-8"?>
<ServicePlugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="/com/gavin/plugin/xsd/ServiceBus.xsd">	
	
	<ServiceConfig Name="ShopCouponService">
		<DataService Resource="trans/shop/ShopCouponService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="ShoppingCartService">
		<DataService Resource="trans/shop/ShoppingCartService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
	<ServiceConfig Name="ShopService">
		<DataService Resource="trans/shop/ShopService.xml" Encoding="utf-8"/>
	</ServiceConfig>
	
</ServicePlugin>
