<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>培训机构列表</title>
<link rel="icon" href="/static/joli/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />

</head>
<body>
	<ul class="breadcrumb" style="">
		<li><a href="/admin/center" target="_parent">管理中心首页</a></li>
		<li><a href="#">培训机构管理</a></li>
		<li class="active">培训机构列表</li>
	</ul>
	<div class="page-content-wrap">
		<div class="row" style="margin-bottom: 6px;">
			<div class="form-group">				
				<form class="am-form form-inline" id="listForm" action="/trainInstit" method="post">
	                <div class="col-md-2 pull-left">
	                	<div class="input-group ">
		                	<input class="form-control" placeholder="培训机构名称" type="text" name="name">
	                	</div>
	               	</div>
					<div class="col-md-1 pull-left">
						<button type="submit" class="btn btn-primary btn-rounded active"><span class="fa fa-search"></span>查询</button>
					</div>	                                     
	            </form>   	
				<div class="col-md-1 pull-left">
					<button class="btn btn-success btn-rounded" type="submit" onclick="location.href='/trainInstit/input'">添加trainInstit</button>
				</div> 					
									
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default" style="margin-bottom:0">
					<div class="panel-body panel-body-table">
						<div class="table-responsive">
							<table class="table datatable_simple">
								<thead>
									<tr>
										<th>品牌</th>
										<th>机构名称</th>
										<th>英文名称</th>
										<th>经营模式</th>
										<th>synopsis</th>
										<th>category</th>
										<th>slogan</th>
										<th>地区</th>
										<th>street</th>
										<th>address</th>
										<th>lon</th>
										<th>lat</th>
										<th>logo</th>
										<th>状态</th>
										<th>微信公众号</th>
										<th>industryLevel</th>
										<th>institLogo</th>
										<th>网址</th>
										<th>establishTime</th>
										<th>创建时间</th>
										<th>修改时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									#if(resultState==0) #for(trainInstit : resultData.trainInstits ??)
									<tr>
										<td>#(trainInstit.brandId)</td>
										<td>#(trainInstit.cnName)</td>
										<td>#(trainInstit.enName)</td>
										<td>#(trainInstit.businessMode)</td>
										<td>#(trainInstit.synopsis)</td>
										<td>#(trainInstit.category)</td>
										<td>#(trainInstit.slogan)</td>
										<td>#(trainInstit.province)#(trainInstit.city)#(trainInstit.county)</td>
										<td>#(trainInstit.street)</td>
										<td>#(trainInstit.address)</td>
										<td>#(trainInstit.lon)</td>
										<td>#(trainInstit.lat)</td>
										<td>#(trainInstit.logo)</td>
										<td>#(trainInstit.state)</td>
										<td>#(trainInstit.woaQr)</td>
										<td>#(trainInstit.industryLevel)</td>
										<td>#(trainInstit.institLogo)</td>
										<td>#(trainInstit.website)</td>
										<td>#(trainInstit.establishTime)</td>
										<td>#(trainInstit.createTime)</td>
										<td>#(trainInstit.updateTime)</td>
										<td><a href="/trainInstit/input?id=#(trainInstit.id)">修改</a></td>
									</tr>
									#end #end
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			#include("/common/pager.html")
		</div>
	</div>
</body>
</html>