<!DOCTYPE html>
<html lang="en">
<head>
<title>新增RoleAction_信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/zTree/css/zTreeStyle/zTreeStyle.css" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/zTree/css/tree.css" type="text/css">
</head>
<body>
	<div>
		<ul class="breadcrumb">
			<li><a href="/admin/index">管理中心首页</a></li>
			<li><a href="index">角色管理</a></li>
			<li class="active">分配角色权限</li>
		</ul>
		<div class="page-content">
			<div class="page-content-wrap">
				<form id="form" class="form-horizontal" action="save" method="post">
					<input type="hidden" name="roleId" value="#(roleId)">
					<input type="hidden" id="actionIds" name="actionIds" value="">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>分配角色权限</strong>
								</h3>
							</div>
							<div class="panel-body">
								<div class="zTreeDemoBackground left">
									<ul id="tree" class="ztree"></ul>
								</div>	
							</div>
							<div class="panel-footer">
								<button class="btn btn-primary" type="button" id="save">保存</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript" src="/static/zTree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/zTree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="/static/zTree/js/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript">
		var setting = {
			check: {
				enable: true
			},data: {
				simpleData: {
					enable: true
				},key: {
				checked: "check",
				pId:"parentId",
				id:"menuId",
				name:"menuName"
			}
			}
		};

		var zNodes =#(list);
		
		
		
		$(function(){
			$.fn.zTree.init($("#tree"), setting, zNodes);
			
			$("#save").click(function(){
			 	var treeObj = $.fn.zTree.getZTreeObj("tree");
				var nodes = treeObj.getCheckedNodes(true);
			     var choose = "";  
			     for (var i=0;i<nodes.length;i++) {  
			         if(nodes[i].id !=null)  
			     		choose +=(i == (nodes.length-1))?nodes[i].id:nodes[i].id+",";  
			     }  
			     $("#actionIds").val(choose);  
				
				$("#form").submit();
			});
		});
		
		
</script>