<!DOCTYPE html>
<html lang="en">
<head>
<title>新增资源信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />
</head>
<body>
	<div>
		<ul class="breadcrumb">
			<li><a href="/admin/index">管理中心首页</a></li>
			<li><a href="/menu/index">资源管理</a></li>
			<li class="active">新增资源信息</li>
		</ul>
		<div class="page-content">
			<div class="page-content-wrap">
				<form id="form" class="form-horizontal" action="#(resultData.id ?? ? '/action/update' : '/action/save' )" method="post">
					<input type="hidden" name="action.id" value="#(resultData.id ?? -1)">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>新增资源</strong>
								</h3>
							</div>
							<div class="panel-body">
								<input type="hidden" readonly="readonly" name="action.menuId" value="#(resultData.menuId ?? menuId)"/>
								<input type="hidden" readonly="readonly" name="action.id" value="#(resultData.id ??)"/>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">actionName</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="actionName" class="form-control" name="action.actionName" value="#(resultData.actionName ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">actionPath</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="actionPath" class="form-control" name="action.actionPath" value="#(resultData.actionPath ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">actionCode</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="actionCode" class="form-control" name="action.actionCode" value="#(resultData.actionCode ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">actionType</label>
									<div class="col-md-3 col-xs-12">
										<select class="form-control select" name="action.actionType" placeholder="排序号">
											<option value="3" #((3==resultData.actionType ??) ? 'selected="selected"':'')>菜单列表</option>
											<option value="1" #((1==resultData.actionType ??) ? 'selected="selected"':'')>按钮</option>
											<option value="2" #((2==resultData.actionType ??) ? 'selected="selected"':'')>链接</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">icon</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="icon" class="form-control" name="action.icon" value="#(resultData.icon ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">status</label>
									<div class="col-md-3 col-xs-12">
										<select class="form-control select" name="action.status" placeholder="排序号">
											<option value="1" #((1==resultData.status ??) ? 'selected="selected"':'')>启用</option>
											<option value="2" #((2==resultData.status ??) ? 'selected="selected"':'')>禁用</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">sort</label>
									<div class="col-md-3 col-xs-12">
										<select class="form-control select" name="action.sort" placeholder="排序号">
											#for(i=0;i<21;i++)
												<option value="#(resultData.sort ??)" #((i==resultData.sort ??) ? 'selected="selected"':'')>#(i)</option>
											#end	
										</select>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<button class="btn btn-primary" type="submit">保存</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript" src="/static/joli/js/plugins/jquery/jquery.min.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap.min.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap-datepicker.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap-select.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/tagsinput/jquery.tagsinput.min.js"/>
<script type='text/javascript' src='/static/joli/js/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'/>
<script type='text/javascript' src='/static/joli/js/plugins/validationengine/jquery.validationEngine.js'/>
<script type="text/javascript" src="/static/joli/js/plugins/fileinput/fileinput.min.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/filetree/jqueryFileTree.js"/>