
<!DOCTYPE html>
<html lang="en">
<head>
<title>所属行业信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />
</head>
<body>
	<div>
		<ul class="breadcrumb">
			<li><a href="/admin/index">管理中心首页</a></li>
			<li><a href="index">品牌列表</a></li>
			<li class="active">所属行业信息</li>
		</ul>
		<div class="page-content">
			<div class="page-content-wrap">
				<form id="form" class="form-horizontal" action="#(brand.id ?? ? 'updateIndustryBrand' : 'saveIndustryBrand' )" method="post">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>所属行业信息</strong>
								</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label">品牌名称</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="name" class="form-control" readonly="readonly" name="name" value="#(name ??)"/>
										<input type="hidden" placeholder="id" class="form-control" readonly="readonly" name="id" value="#(id ??)"/>
									</div>
								</div>							
								<div class="form-group" id="dataRow">
									<label class="col-md-2 col-xs-12 control-label">所属行业</label>
									<label class="col-md-9 col-xs-12 control-label" style="text-align: left;">
										#for(t : resultData.datas??)
											<a href="javascript:void(0);" onclick="getChild(#(t.id),'#(t.name)')">#(t.name)</a><input value="#(t.id)" name="industryId" type="checkbox"> |
										#end
									</label>
								</div>
							</div>
							<div class="panel-footer">
								<button class="btn btn-primary" type="submit">保存</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript" src="/static/joli/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/HashMap.js"></script>


<script type="text/javascript" >
	//把点击过的 id 加入缓存
	var map=new HashMap();
	
	function getChild(id,name){
		if(map.get(id)){
			return false;
		}else{
			map.put(id,true);
		}
		
		var start='<div class="form-group"><label class="col-md-2 col-xs-12 control-label">'+name+'-子集</label><label class="col-md-9 col-xs-12 control-label" style="text-align: left;">';
		var bodys='';
		var end='</label></div>';
		$.ajax({
			url: "/industry/queryIndustryByParentId?parentId="+id,
			dataType: "json",
			async: false,
			success: function(data) {
				var tempa=data.datas;
				if(tempa.length>0){
					for(var i=0;i<tempa.length;i++){
						bodys+=('<a href="javascript:void(0);" onclick="getChild('+(tempa[i].id)+',\''+(tempa[i].name)+'\')">'+(tempa[i].name)+'</a><input value="'+(tempa[i].id)+'" name="industryId" type="checkbox"> |');
					}
					$("#dataRow").after(start+bodys+end);
				}
			}
		});
	}
</script>
