<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>资源列表</title>
<link rel="icon" href="/static/joli/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />

</head>
<body>
	<ul class="breadcrumb" style="">
		<li><a href="/admin/center" target="_parent">管理中心首页</a></li>
		<li><a href="#">资源管理</a></li>
		<li><a href="/menu">菜单列表</a></li>
		<li class="active">资源列表</li>
	</ul>
	<div class="page-content-wrap">
		<div class="row" style="margin-bottom: 6px;">
			<form class="am-form form-inline" id="listForm" action="/action/input" method="post">
			<div class="form-group">
				<input type="hidden" value="#(menuId)" name="menuId">				
				<div class="col-md-1 pull-left">
					<button class="btn btn-success btn-rounded" type="submit">添加资源</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default" style="margin-bottom:0">
					<div class="panel-body panel-body-table">
						<div class="table-responsive">
							<table class="table datatable_simple">
								<thead>
									<tr>
										<th>行为名称</th>
										<th>请求路径</th>
										<th>权限标识</th>
										<th>按钮类型</th>
										<th>icon</th>
										<th>状态</th>
										<th>排序号</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									#if(resultState==0) #for(action : resultData.actions ??)
									<tr>
										<td>#(action.actionName)</td>
										<td>#(action.actionPath)</td>
										<td>#(action.actionCode)</td>
										<td>#(action.actionType==1?'按钮':(action.actionType==2?'连接':'列表'))</td>
										<td>#(action.icon)</td>
										<td>#(action.state==1?'启用':'禁用')</td>
										<td>#(action.sort)</td>
										<td>#(action.createTime)</td>
										<td><a href="/action/input?id=#(action.id)">修改</a></td>
									</tr>
									#end #end
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			#include("/common/pager.html")
		</div>
	</div>
</body>
</html>