<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>index.html</title>
     <meta charset="UTF-8">
<!-- 	 <script type="text/javascript" src="http://static.dafy.com/upload/swfobject.js"></script> -->
<!-- 	 <script type="text/javascript" src="http://static.dafy.com/upload/FileUpload.js"></script> -->
	 <script type="text/javascript" src="/static/swfupload/swfobject.js"></script>
	 <script type="text/javascript" src="/static/swfupload/FileUpload.js"></script>
    
 </head>
  
  <body>
   	上传图片 <span id='idImgPL'></span>
   	 
    
  </body>
  
  <script type="text/javascript" >
  	//FileUpload.FileUploadURL
  	var idImgWidget = new FileUpload("idImgPL", 100*4096, 2, "*.jpg", FileUpload.ImageUploadURL,"1280X960");
  		idImgWidget.addEventListener(FileUpload.SelectFile, function(evt){
    	    evt.target.delAllFile();
    	});
    	idImgWidget.addEventListener(FileUpload.AddItem, function (evt) {
    	    evt.target.startUpload();
    	});
    	idImgWidget.addEventListener(FileUpload.Complete, function(evt) {
    		document.writeln(evt.name+" "+evt.url+" "+evt.strFilePath+" "+evt.strFileName+" "+evt.strSourceFileName);
    	});
    	idImgWidget.addEventListener(FileUpload.Error, function(evt) {
    	    alert(evt.msg);
    	});
    	
   
  </script>
   
</html>
