<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>行业列表</title>
<link rel="icon" href="/static/joli/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />

</head>
<body>
	<ul class="breadcrumb" style="">
		<li><a href="/admin/center" target="_parent">管理中心首页</a></li>
		<li><a href="#">行业管理</a></li>
		<li class="/industry">行业列表</li>
		<li class="active">行业品牌</li>
	</ul>
	<div class="page-content-wrap">


		<div class="row" style="margin-bottom: 6px;">
			<div class="form-group">
				<div class="col-md-1 pull-left">
					<button class="btn btn-success btn-rounded" type="submit" onclick="location.href='/industry'">返回行业列表</button>
				</div> 					
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default" style="margin-bottom:0">
					<div class="panel-body panel-body-table">
						<div class="table-responsive">
							<table class="table datatable_simple">
								<thead>
									<tr>
										<th>行业名称</th>
										<th>品牌名称</th>
										<th>品牌创立时间</th>
										<th>关联时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									#if(resultState==0) 
									#for(t : resultData.datas ??)
									<tr>
										<td>#(industryName)</td>
										<td>#(t.name)</td>
										<td>#(t.brandTime)</td>
										<td>#(t.createTime)</td>
										<td><a href="/industry/deleteBrandByIndustryId?id=#(t.id)" onclick="javascript:if(!confirm('确认是否删除'))return false;">删除</a></td>
									</tr>
									#end 
									#else
									<tr><td colspan="5">无数据或查询异常</td></tr>
									#end
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			#include("/common/pager.html")
		</div>
	</div>
</body>
</html>



