<!DOCTYPE html>
<html lang="en">
<head>
<title>新增InstitScore_信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />
</head>
<body>
	<div>
		<ul class="breadcrumb">
			<li><a href="/admin/index">管理中心首页</a></li>
			<li><a href="index">InstitScore_管理</a></li>
			<li class="active">新增InstitScore_信息</li>
		</ul>
		<div class="page-content">
			<div class="page-content-wrap">
				<form id="form" class="form-horizontal" action="#(institScore.id ?? ? 'update' : 'save' )" method="post">
					<input type="hidden" name="institScore.id" value="#(institScore.id ?? -1)">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>新增InstitScore_信息</strong>
								</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">上级</label>
									<div class="col-md-3 col-xs-12">
										<select class="form-control select" name="">
											<option value="0">一级</option> 
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">id</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="id" class="form-control" name="institScore.id" value="#(institScore.id ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">centerId</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="centerId" class="form-control" name="institScore.centerId" value="#(institScore.centerId ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">institId</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="institId" class="form-control" name="institScore.institId" value="#(institScore.institId ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">brandId</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="brandId" class="form-control" name="institScore.brandId" value="#(institScore.brandId ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">evaluateScore</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="evaluateScore" class="form-control" name="institScore.evaluateScore" value="#(institScore.evaluateScore ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">state</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="state" class="form-control" name="institScore.state" value="#(institScore.state ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">createTime</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="createTime" class="form-control" name="institScore.createTime" value="#(institScore.createTime ??)"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-1 col-xs-12 control-label">updateTime</label>
									<div class="col-md-3 col-xs-12">
										<input type="text" placeholder="updateTime" class="form-control" name="institScore.updateTime" value="#(institScore.updateTime ??)"/>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<button class="btn btn-primary" type="submit">保存</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript" src="/static/joli/js/plugins/jquery/jquery.min.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap.min.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap-datepicker.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap-select.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/tagsinput/jquery.tagsinput.min.js"/>
<script type='text/javascript' src='/static/joli/js/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'/>
<script type='text/javascript' src='/static/joli/js/plugins/validationengine/jquery.validationEngine.js'/>
<script type="text/javascript" src="/static/joli/js/plugins/fileinput/fileinput.min.js"/>
<script type="text/javascript" src="/static/joli/js/plugins/filetree/jqueryFileTree.js"/>