<?xml version="1.0" encoding="UTF-8"?>
<ServicePlugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="DataService.xsd">

	<!-- 分类 -->
	<ServiceConfig Name="CategoryService">
		<DataService Resource="trans/goods/CategoryService.xml" Encoding="utf-8" />
	</ServiceConfig>
	
	<ServiceConfig Name="GoodsService">
		<DataService Resource="trans/goods/GoodsService.xml" Encoding="utf-8"/>
	</ServiceConfig>	

	<ServiceConfig Name="GoodsAttrService">
		<DataService Resource="trans/goods/GoodsAttrService.xml" Encoding="utf-8"/>
	</ServiceConfig>	
	
	<ServiceConfig Name="CartService">
		<DataService Resource="trans/goods/CartService.xml" Encoding="utf-8"/>
	</ServiceConfig>			

</ServicePlugin>
