<!DOCTYPE html>
<html lang="en">
<head>
<title>新增行业信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />
</head>
<body>
	<div>
		<ul class="breadcrumb">
			<li><a href="/admin/index">管理中心首页</a></li>
			<li><a href="index">行业管理</a></li>
			<li class="active">新增行业信息</li>
		</ul>
		<div class="page-content">
			<div class="page-content-wrap">
				<form id="form" class="form-horizontal" action="#(industry.id?? ?'update':'save')" method="post">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>新增行业信息</strong>
								</h3>
							</div>
							<div class="panel-body">
								<div class="row" id="dataRow">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-3 col-xs-12 control-label">上级行业</label>
											<div class="col-md-6 col-xs-12">
												<input type="hidden" value="#(industry.id??)" name="yless.id">
												<select class="form-control select" name="yless.levelCode">
													<option value="0">---顶级行业---</option>
													#for(temp :resultData.industrys ??)
														<option value="#(temp.levelCode??)" #((temp.id==industry.parentId ??)?"selected='selected'":"")>#(temp.levelCode)---#(temp.name)</option>
													#end
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="col-md-12 col-xs-12">
												<div class="input-group">
													<input type="text" placeholder="行业名称" class="form-control" name="yless.name" value="#(industry.name??)"/>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="col-md-12 col-xs-12">
												<div class="input-group">
													<input type="text" placeholder="行业编码" class="form-control" name="yless.code" value="#(industry.code??)"/>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="col-md-12 col-xs-12">
												<div class="input-group">
													<button class="btn btn-success btn-rounded" id="addRows" type="button">增加行</button>
												</div>
											</div>
										</div>
									</div>									
								</div>
							</div>
							<div class="panel-footer">
								<button class="btn btn-primary" type="submit">保存</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript" src="/static/joli/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap-select.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script type='text/javascript' src='/static/joli/js/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'></script>
<script type='text/javascript' src='/static/joli/js/plugins/validationengine/jquery.validationEngine.js'></script>
<script type="text/javascript" src="/static/joli/js/plugins/fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins/filetree/jqueryFileTree.js"></script>

<script>
	$('#form_id').validationEngine('attach', {
		promptPosition : 'topLeft',
		scroll : false
	});
</script>

<script type="text/javascript">
	optins='#for(industry :resultData.industrys ??)<option value="#(industry.levelCode)">#(industry.levelCode)---#(industry.name)</option>#end';
	dataRow="dataRow";
	$(function(){
		$("#addRows").click(function(){
			var uuids=uuid();
			var str='<div class="row" id="'+uuids+'" style="margin-top:3px"><div class="col-md-4"><div class="form-group"><label class="col-md-3 col-xs-12 control-label">上级行业</label><div class="col-md-6 col-xs-12"><select class="form-control select" name="yless.levelCode"><option value="0">---顶级行业---</option>'+optins+'</select></div></div></div><div class="col-md-3"><div class="form-group"><div class="col-md-12 col-xs-12"><div class="input-group"><input type="text" placeholder="行业名称" class="form-control" name="yless.name"/></div></div></div></div><div class="col-md-3"><div class="form-group"><div class="col-md-12 col-xs-12"><div class="input-group"><input type="text" placeholder="行业编码" class="form-control" name="yless.code"/></div></div></div></div><div class="col-md-2"><div class="form-group"><div class="col-md-12 col-xs-12"><div class="input-group"><button class="btn btn-success btn-rounded" onclick="removeRows(\''+uuids+'\')" type="button">删除行</button></div></div></div></div></div>';
			$("#"+dataRow).after(str);
			dataRow=uuids;
		});
	})
	
	function removeRows(uuids){
		$("#"+uuids).remove();
		if(dataRow==uuids){
			dataRow="dataRow";
		}
	}
	
	function uuid() {
	    var s = [];
	    var hexDigits = "0123456789abcdef";
	    for (var i = 0; i < 36; i++) {
	        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
	    }
	    s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
	    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
	    s[8] = s[13] = s[18] = s[23] = "-";
	 
	    var uuid = s.join("");
	    return uuid;
	}
</script>



