<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>CoreMembers列表</title>
<link rel="icon" href="/static/joli/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css" />

</head>
<body>
	<ul class="breadcrumb" style="">
		<li><a href="/admin/center" target="_parent">管理中心首页</a></li>
		<li><a href="#">CoreMembers管理</a></li>
		<li class="active">CoreMembers列表</li>
	</ul>
	<div class="page-content-wrap">
		<div class="row" style="margin-bottom: 6px;">
			<div class="form-group">				
				<form class="am-form form-inline" id="listForm" action="/coreMembers" method="post">
	                <div class="col-md-2 pull-left">
	                	<div class="input-group ">
		                	<input class="form-control" placeholder="CoreMembers名称" type="text" name="name">
	                	</div>
	               	</div>
					<div class="col-md-1 pull-left">
						<button type="submit" class="btn btn-primary btn-rounded active"><span class="fa fa-search"></span>查询</button>
					</div>	                                     
	            </form>   	
				<div class="col-md-1 pull-left">
					<button class="btn btn-success btn-rounded" type="submit" onclick="location.href='/coreMembers/input'">添加coreMembers</button>
				</div> 					
									
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default" style="margin-bottom:0">
					<div class="panel-body panel-body-table">
						<div class="table-responsive">
							<table class="table datatable_simple">
								<thead>
									<tr>
										<th>id</th>
										<th>institId</th>
										<th>name</th>
										<th>introduct</th>
										<th>positionType</th>
										<th>positionLevel</th>
										<th>state</th>
										<th>likeCount</th>
										<th>dislikeCount</th>
										<th>joinTime</th>
										<th>createTime</th>
										<th>updateTime</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									#if(resultState==0) #for(coreMembers : resultData.coreMemberss ??)
									<tr>
										<td>#(coreMembers.id)</td>
										<td>#(coreMembers.institId)</td>
										<td>#(coreMembers.name)</td>
										<td>#(coreMembers.introduct)</td>
										<td>#(coreMembers.positionType)</td>
										<td>#(coreMembers.positionLevel)</td>
										<td>#(coreMembers.state)</td>
										<td>#(coreMembers.likeCount)</td>
										<td>#(coreMembers.dislikeCount)</td>
										<td>#(coreMembers.joinTime)</td>
										<td>#(coreMembers.createTime)</td>
										<td>#(coreMembers.updateTime)</td>
										<td>#(coreMembers.createTime)</td>
										<td><a href="/coreMembers/input?id=#(coreMembers.id)">修改</a></td>
									</tr>
									#end #end
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			#include("/common/pager.html")
		</div>
	</div>
</body>
</html>