<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META SECTION -->
    <title>管理中心 - Powered By </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/static/joli/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="theme" href="/static/joli/css/theme-default.css"/>

</head>
<body>

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">管理中心首页</a></li>
</ul>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-3">
            <div class="widget widget-default widget-carousel">
                <div class="owl-carousel" id="owl-example">
                    <div>
                        <div class="widget-title">培训机构</div>
                        <div class="widget-subtitle">27/08/2014 15:23</div>
                        <div class="widget-int">3,548</div>
                    </div>
                    <div>
                        <div class="widget-title">用户量</div>
                        <div class="widget-subtitle">Visitors</div>
                        <div class="widget-int">1,695</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                <div class="widget-item-left">
                    <span class="fa fa-envelope"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">${unreadMessageCount!}</div>
                    <div class="widget-title">新消息</div>
                    <div class="widget-subtitle">反馈建议、举报、咨询</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-address-book.html';">
                <div class="widget-item-left">
                    <span class="fa fa-users"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">375</div>
                    <div class="widget-title">今日新增用户</div>
                    <div class="widget-subtitle">总360000</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-big-int plugin-clock">00:00</div>
                <div class="widget-subtitle plugin-date">Loading...</div>
                <div class="widget-buttons widget-c3">
                    <div class="col">
                        <a href="#"><span class="fa fa-clock-o"></span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span class="fa fa-bell"></span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span class="fa fa-calendar"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</body>
</html>

<script type="text/javascript" src="/static/joli/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins/owl/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/joli/js/plugins.js"></script>
